<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Test suite" parallel="tests" thread-count="2" verbose="1">
    <listeners>
        <listener class-name="utils.listeners.TestListener"/>
<!--        <listener class-name="utils.listeners.AnnotationTransformer"/>-->
    </listeners>

    <test name="Search tests failed">
        <classes>
            <class name="tests.TestSearchPass"/>
        </classes>
    </test>

    <test name="Search tests pass">
        <classes>
            <class name="tests.TestSearchFailed"/>
        </classes>
    </test>
</suite>